.panel-group#accordion(role="tablist", aria-multiselectable="true")  
  .panel.panel-default
    .panel-heading(role="tab")
      a(role="button", data-toggle="collapse", data-parent="#accordion", href="#collapseOne", expanded="true", aria-controls="collapseOne")
        h2.panel-title 
          i.glyphicon.glyphicon-console 
          span Run scripts
    #collapseOne.panel-collapse.collapse.in(role="tabpanel")
      .panel-body
        h3 Running
        ul.list-inline#processes
        h3 List
        ul.list-inline#scriptList
          each script, task in infos.scripts
            li: a.btn.btn-primary.btn-ajax(href="/projects/" + infos.name + "/scripts?name=" + task + "&action=exec")= task
  
  .panel.panel-default
    .panel-heading 
      a(role="button", data-toggle="collapse", data-parent="#accordion", href="#collapseTwo", expanded="true", aria-controls="collapseTwo")
        h2.panel-title
          i.glyphicon.glyphicon-folder-close
          span Packages
    #collapseTwo.panel-collapse.collapse(role="tabpanel")
      .panel-body
        h3 Development
        if infos.devDependencies
          ul.list-group.pkg-list.dev
            each version, pkgName in infos.devDependencies
              li.list-group-item(data-pkg=pkgName)
                a(href="https://www.npmjs.com/package/" + pkgName, target="_blank")= pkgName + " - " + version
                .pull-right
                  a.btn.btn-sm.btn-warning.btn-ajax(href="/projects/" + infos.name + "/packages?name=" + pkgName + "&env=dev&action=delete")
                    i.glyphicon.glyphicon-trash
        .form-group
          label Add package in dev environment
          .row.margin-bottom
            input(type="hidden", name="env", value= "dev")
            .col-xs-8
              input.form-control(type="text", name="pkgName", placeholder="package name")
            .col-xs-4.no-gutter-left
              input.form-control(type="text", name="version", placeholder="version", value="latest")  
          button.btn.btn-primary.btn-add-pkg Add
        h3 Production
        if infos.dependencies
          ul.list-group.pkg-list.prod
            each version, pkgName in infos.dependencies
              li.list-group-item(data-pkg=pkgName)
                a(href="https://www.npmjs.com/package/" + pkgName, target="_blank")= pkgName + " - " + version
                .pull-right
                  a.btn.btn-sm.btn-warning.btn-ajax(href="/projects/" + infos.name + "/packages?name=" + pkgName + "&env=prod&action=delete")
                    i.glyphicon.glyphicon-trash
        .form-group
          label Add package in prod environment
          .row.margin-bottom
            input(type="hidden", name="env", value= "prod")
            .col-xs-8
              input.form-control(type="text", name="pkgName", placeholder="package name")
            .col-xs-4.no-gutter-left
              input.form-control(type="text", name="version", placeholder="version", value="latest")         
          button.btn.btn-primary.btn-add-pkg Add
  
  .panel.panel-default  
    .panel-heading
      a(role="button", data-toggle="collapse", data-parent="#accordion", href="#collapseThree", expanded="true", aria-controls="collapseThree")
        h2.panel-title
          i.glyphicon.glyphicon-wrench 
          span Config file
    #collapseThree.panel-collapse.collapse(role="tabpanel")
      .panel-body
        form
          .form-group
            label package.json
            textarea.form-control(rows="20", name="configFile")!= JSON.stringify(infos, null, 2)
          .form-group
            button.btn.btn-primary.submit-ajax(data-url="/projects/" + infos.name) Update
  .panel.panel-default
    .panel-heading
      a(role="button", data-toggle="collapse", data-parent="#accordion", href="#collapseFour", expanded="true", aria-controls="collapseFour")
        h2.panel-title
          i.glyphicon.glyphicon-edit
          span Editor
    #collapseFour.panel-collapse.collapse(role="tabpanel")
      .panel-body  
