extends ../layout

block title
  h1.title-app= capitalize(infos.name)

block actions
  span.hidden-xs.hidden-sm
    if infos.urlLocal
      a.btn.btn-xs.btn-primary.btn-show-app(href=infos.urlLocal)
        i.glyphicon.glyphicon-eye-open 
        span.hidden-xs Show
    a.btn.btn-xs.btn-primary(href="/projects/" + infos.name + "/delete") 
      i.glyphicon.glyphicon-trash
      span.hidden-xs Delete
    a.btn.btn-xs.btn-primary.btn-ajax(href="/projects/" + infos.name + "/packages?action=install")
      i.glyphicon.glyphicon-circle-arrow-down
      span.hidden-xs Install
    
  span.visible-xs-inline-block.visible-sm-inline-block
    button#optionsProject.btn.btn-xs.btn-primary.dropdown-toggle(data-toggle="dropdown", aria-expanded="false")
      i.glyphicon.glyphicon-option-horizontal
    ul.dropdown-menu.dropdown-menu-right(aria-labelledby="optionsProject")
      if infos.urlLocal
        li: a.btn-show-app(href=infos.urlLocal)
          i.glyphicon.glyphicon-eye-open 
          span Show
      li: a(href="/projects/" + infos.name + "/delete") 
        i.glyphicon.glyphicon-trash
        span Delete
      li: a.btn-ajax(href="/projects/" + infos.name + "/packages?action=install")
        i.glyphicon.glyphicon-circle-arrow-down
        span Install
      li: a.btn-logs(data-toggle="modal", data-target="#modalConsole")
        i.glyphicon.glyphicon-console
        span Logs
    button.btn.btn-xs.btn-primary.btn-config
      i.glyphicon.glyphicon-cog
    button.btn.btn-xs.btn-primary.btn-tree
      i.glyphicon.glyphicon-menu-hamburger
  

block content
  script. 
    ROOM = "#{infos.name}";
    TreeDir= !{JSON.stringify(tree)};

  #appView.row.row-height.position-full.no-margin-side
    if infos.urlLocal
      #contentAppShow.hide
        button.btn.btn-lg.btn-link.btn-notshow-app: i.glyphicon.glyphicon-eye-close
    #contentLeft
      #tree.position-full
    #contentPrimary
      #rowPrimary
        #view
          #fileView(style="display:none;").position-full
            #editor.position-full
            ul#fileActions.list-inline

          #folderView
            .breadcrumb
            ul#folderActions.list-inline.text-center
              li: button.btn.btn-lg.btn-link(data-toggle="modal", data-target="#modalNewFolder")
                i.glyphicon.glyphicon-plus 
                span New folder
              li: button.btn.btn-lg.btn-link(data-toggle="modal", data-target="#modalNewFile")
                i.glyphicon.glyphicon-file
                span New file
              li: button.btn.btn-lg.btn-link(data-toggle="modal", data-target="#modalRenameFolder")
                i.glyphicon.glyphicon-pencil
                span Rename folder
              li: button.btn.btn-lg.btn-link.btn-delete-folder
                i.glyphicon.glyphicon-trash
                span Delete folder
            
            #modalNewFolder.modal.fade
              .modal-dialog
                .modal-content
                  .modal-header
                    button.close(data-dismiss="modal"): span(aria-hidden="true") &times;
                    h4 New folder
                  .modal-body
                    form
                      .form-group
                        label Folder name
                        input.form-control.input-lg(type="text", name="folderName")
                      .form-group
                        button.btn.btn-primary.btn-add-folder Create
                  
            #modalNewFile.modal.fade
              .modal-dialog
                .modal-content
                  .modal-header
                    button.close(data-dismiss="modal"): span(aria-hidden="true") &times;
                    h4 New file
                  .modal-body
                    form
                      .form-group
                        label File name
                        input.form-control.input-lg(type="text", name="fileName")
                      .form-group
                        button.btn.btn-primary.btn-add-file Create
                        
            #modalRenameFolder.modal.fade
              .modal-dialog
                .modal-content
                  .modal-header
                    button.close(data-dismiss="modal"): span(aria-hidden="true") &times;
                    h4 Rename folder
                  .modal-body
                    form
                      .form-group
                        label Folder name
                        input.form-control.input-lg(type="text", name="folderName")
                      .form-group
                        button.btn.btn-primary.btn-rename-folder Rename
                  
        #config
          include ./config.jade
      #rowFooter
        button.btn.btn-lg.btn-link.btn-show-console(data-toggle="modal", data-target="#modalConsole"): i.glyphicon.glyphicon-eye-open
        #logs.console.well
        #modalConsole.modal.fade
          .modal-dialog.modal-lg
            .modal-content
              .modal-header
                button.close(data-dismiss="modal"): span(aria-hidden="true") &times;
                h4 Console
              .modal-body
                .console.well
                
                  
    
